
.dropdown-button {
    cursor: pointer;
    background-color: #DB9E00;
    border-radius: 15px 0 0 15px;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    font-size: 13px;
    color: #000000;
    width: 180px;
    height: 45px;
    cursor: pointer;
    border: 1px solid #C4C4C4;
}

.dropdown-menu {
    width: 180px;
    height: auto;
    cursor: pointer;
    background-color: #ffffff;
    border-radius: 5px;
    border: 1px solid #C4C4C4;
}

#dropdown-item {
    width: 89%;
    height: 100%;
    font-weight: 600px;
    color: #000000;

    &:hover {
        background-color: #DB9E00;
        color: white;
      }
}

