/* Category.css */
.category {
  margin-bottom: 20px;
  background-color: #f8f9fa; /* Light background color */
  border: 1px solid #ddd; /* Border for a card-like appearance */
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle box shadow */
  transition: transform 0.3s; /* Added a transform transition for a subtle effect on hover */
  position: relative; /* Enable relative positioning */
}

.category:hover {
  transform: translateY(-5px); /* Move the card slightly upward on hover */
}

.category h2 {
  margin: 0;
  padding: 10px; /* Adjusted padding for a smaller "band" */
  font-size: 1.5em; /* Adjust the font size */
  color: #343a40; /* Dark text color */
  background-color: #007bff; /* Background color for the category name */
  border-radius: 8px; /* Rounded corners */
  text-align: center; /* Center the text */
  position: absolute; /* Position the title absolutely within the category */
  left: 50%; /* Move to the middle horizontally */
  transform: translateX(-50%); /* Adjust to center the title */
  bottom: 100%; /* Move the title above the products */
}

.products-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 10px; /* Added padding for better spacing */
}
