/* Category.css */
.category {
  display: flex;
  margin-bottom: 20px;
  background-color: #f8f9fa; /* Light background color */
  border: 1px solid #ddd; /* Border for a card-like appearance */
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle box shadow */
  transition: transform 0.3s; /* Added a transform transition for a subtle effect on hover */
  position: relative; /* Enable relative positioning */
  margin-top: 60px;
  right: 5%;
  width:60%;
}

.category:hover {
  transform: translateY(-5px); /* Move the card slightly upward on hover */
}

.category h2 {
  margin-bottom: 10px;
  padding: 10px; /* Adjusted padding for a smaller "band" */
  border-radius: 8px; /* Rounded corners */
  text-align: center; /* Center the text */
  position: absolute; /* Position the title absolutely within the category */
  left: 50%; /* Move to the middle horizontally */
  transform: translateX(-50%); /* Adjust to center the title */
  bottom: 100%; /* Move the title above the products */
  color: black;
  font-size: 18.37px;
  font-weight: 400;
  word-wrap: break-word;
}

.products-container {
  display: grid;
  justify-content: space-around;
  flex-wrap: wrap;

  padding: 10px; /* Added padding for better spacing */
  grid-template-rows: auto; /* You can specify the height of each row individually or use 'auto' for automatic sizing */
  grid-template-columns: repeat(
    3,
    1fr
  ); /* You can adjust the number of columns and their width using the 'repeat' function and 'fr' units */
  gap: 10px; /* Optional: Specify the gap between rows and columns */
}
