/* Navigation.css */
.navbar {
  border-radius: 0px 14px 14px 0px;
  background: #000;
  padding: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  overflow-y: auto;
  transition: width 0.3s ease;
}

.navbar.reduced {
  width: 100px; /* Set your desired reduced width */
}

.top-logo {
  text-align: center;
  margin-bottom: 20px;
}

.top-logo img {
  max-width: 100%; /* Ensure the logo doesn't exceed its container width */
  height: auto; /* Maintain aspect ratio */
  transition: max-width 0.3s ease; /* Added transition for logo size */
}

.logo img {
  max-width: 100%;
  height: auto; /* Maintain aspect ratio */
  transition: max-width 0.3s ease; /* Added transition for logo size */
}

ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-block: 5px;
  align-items: center;
}

.logo img{
  border-radius: 10px;
  background: rgba(219, 158, 0, 0.5); 
  padding: 8px; 
  width: 40px; 
  height: 40px; 
  object-fit: cover; 
  position: relative;
}

.logo img:hover{
  transform: translateY(-5px); /* Move the card slightly upward on hover */
  background-color: #555;
}

li {
  margin-bottom: 8px;
  margin-block: 30px;
  max-width: 70%;
  display: flex;
  flex-direction: column;  /* Change the direction to column */
  align-items: flex-start;     /* Center items horizontally */
  text-align: center;  
  align-self: flex-start;     /* Center text inside the <li> */
}

a {
  text-decoration: none;
  color: white;
  font-size: 12px; /* Smaller font size */
  padding: 8px;
  border-radius: 5px;
  transition: background-color 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.toggle-btn {
  max-width: 30%;
  height: 50%;
  margin-left:80px;
  cursor: pointer;
  text-align: center;
  color: white;
  background-color: #3498db; /* Modern blue color, feel free to adjust */
  border-radius: 5px; /* Rounder corners for a modern look */
  margin-top: 10px;
  transition: background-color 0.3s ease; /* Smooth transition on hover */
  border: none; /* Removing border for a cleaner look */
  font-size: 16px; /* Adjust font size for better readability */
  font-weight: bold; /* Make the text bold for emphasis */
}

.toggle-btn:hover {
  background-color: #2980b9; /* Darker blue on hover for a subtle effect */
}


.textlogo {
  font-weight: bold;
  position:relative;
  left:10px;
}

main {
  margin-top: 2%;
  margin-left: 240px;
  padding: 30px;
}
