/* OrderProduct.css */
.order-form-container {
  margin: 20px;
  text-align: center;
}

.order-form-window {
  background: #fff;
  padding: 20px;
  margin: 20px auto;
  max-width: 400px;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
}

.order-form-window:hover {
  transform: translateY(-5px);
}

.order-form-window label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
}

.order-form-window input,
.order-form-window select {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-sizing: border-box;
}

.order-form-window button {
  background-color: #4caf50;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.order-form-window button:hover {
  background-color: #45a049;
}

.order-form-window button:last-child {
  background-color: #d9534f;
  margin-left: 10px;
}

.order-form-window button:last-child:hover {
  background-color: #c9302c;
}

.order-dashboard {
  display: flex;
}

.left-panel {
  flex: 0 0 200px;
  padding: 20px;
  background: #f8f8f8;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  text-align: left;
}

.left-panel button {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  background: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  text-align: center;
}

.left-panel button:hover {
  background-color: #45a049;
}

.main-content {
  flex: 1;
  padding: 20px;
}

.order-list-container {
  background: #fff;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
  text-align: center; /* Center text in the order-list-container */
}

.order-list-container table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 15px;
}

.order-list-container th,
.order-list-container td {
  padding: 10px;
  text-align: center;
  border: 1px solid #ddd;
}

.order-list-container th {
  background-color: #4caf50;
  color: white;
}

.order-list-container td {
  background-color: #f8f8f8;
}

.order-list-container button {
  margin-top: 10px;
  padding: 10px;
  background: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.order-list-container button:hover {
  background-color: #45a049;
}
