.control-section {
    width: 600px;
    height: auto;
    border-radius: 19px 0px 0px 19px;
    border: 1px solid #E5E5E5;
    
}

.header {
    width: 97%;
    margin-top: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#cancel-button {
    border-style: none;
}       

#imgCancel:hover {
    fill: gray;
}

.image-container {
    /* background-color: blueviolet; */
    width: 200px;
    height: 180px;
    margin-top: 20px;
    margin-left: 210px;
    
}

.productInputInfo {
    width: 97%;
    margin-top: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;


}

/* #product-name {
    width: 480px;
    border-bottom-color: 1px solid #6C6C6C;
    border-top: none;
    border-left: none;
    border-right: none;

    &:focus-within {
        border-top: 1px solid #6C6C6C;
        border-left: 1px solid #6C6C6C;
        border-right: 1px solid #6C6C6C;
    }
} */

.input-info {
    position: relative;
    width: 70%;
    height: 45px;
    /* border-bottom: 1px solid #6C6C6C; */
    transition: all 0.3s ease;
    margin-top: 50px;
    margin-left: 100px;
    display: flex;
    align-items: center;

   }
   
   .input-info #product-name {
    position: absolute;
    height: 45px;
    /* top: 0;
    left: 0; */
    width: 100%;
    height: 100%;
    padding: 5px;
    box-sizing: border-box;
    /* border: 1px solid #6C6C6C; */
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #6C6C6C;
    outline: none;
   }
   
   .input-info:focus-within {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid #000000;
    font-weight: bold;
   }


.ddd {
    position: absolute;
    top: 100px;
    left: 100px;


    width: 100px;
    height: 100px;

}

.priceAndtax{
    display: flex;
    justify-content: space-between;

    position: relative;
    width: 70%;
    height: 45px;
    /* border-bottom: 1px solid #6C6C6C; */
    transition: all 0.3s ease;
    margin-top: 30px;
    margin-left: 100px;
    display: flex;
    align-items: center;

}

#pricetax {
    width: 48%;
    height: auto;
    padding: 5px;
    box-sizing: border-box;
    /* border: 1px solid #6C6C6C; */
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #6C6C6C;
    outline: none;
}

#pricetax:focus-within {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid #000000;
    font-weight: bold;
   }




.description-container {
    resize: none;
    position: relative;
    width: 70%;
    height: auto;
    /* border-bottom: 1px solid #6C6C6C; */
    transition: all 0.3s ease;
    margin-top: 50px;
    margin-left: 100px;
    display: flex;
    align-items: center;
}


#saveinfo-button {
    width: 38%;
    height: 45px;
    border-radius: 12px;
    border-style: none;
    color: white;
    font-size: 20px;
    font-weight: 800px;
    background: var(--green, #1D9322);
    
    margin-top: 100px;
    margin-left: 200px;
    margin-bottom: 20px;

}