.control-section {
    width: 600px;
    height: 820px;
    border-radius: 19px 0px 0px 19px;
    border: 1px solid #E5E5E5;
    
    margin-top: 100px;
}

.header {
    width: 97%;
    margin-top: 8px;
    display: flex;
    justify-content: flex-start;
    

}

#cancel-button {
    border-style: none;
}       

#imgCancel:hover {
    fill: gray;
}

#registerText {
    color: var(--Black, #000);
    font-family: Inter, sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
}

/* IMAGE */
.image-container {
    /* background-color: blueviolet; */
    width: 200px;
    height: 180px;
    margin-top: 20px;
    margin-left: 210px;
    
}



.input-info {
    position: relative;
    width: 70%;
    height: 45px;
    /* border-bottom: 1px solid #6C6C6C; */
    transition: all 0.3s ease;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 100px;
    display: flex;
    align-items: center;

   }
   
   .input-info #product-name {
    position: absolute;
    height: 45px;
    /* top: 0;
    left: 0; */
    width: 100%;
    height: 100%;
    padding: 5px;
    box-sizing: border-box;
    /* border: 1px solid #6C6C6C; */
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #6C6C6C;
    outline: none;
   }
   
   .input-info:focus-within {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid #000000;
    font-weight: bold;
   }




   #saveinfo-button {
    width: 38%;
    height: 45px;
    border-radius: 12px;
    border-style: none;
    color: white;
    font-size: 20px;
    font-weight: 800px;
    background: var(--green, #1D9322);
    
    margin-top: 320px;
    margin-left: 200px;
    margin-bottom: 20px;

    &:hover {
        font-size: 20px;
        font-weight: 600;
        color: rgb(0, 0, 0);
        background: var(--green, #1D9322);
    }

}
