/* @import url('https://fonts.googleapis.com/css?family=Press+Start+2P');

body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: 'Press Start 2P', cursive;
  user-select: none;
  cursor: url(https://raw.githubusercontent.com/nostalgic-css/NES.css/develop/assets/cursor.png), auto;
	overflow: hidden;
}
.nes-dialog::backdrop, .nes-dialog>.backdrop{
  cursor: url(https://raw.githubusercontent.com/nostalgic-css/NES.css/develop/assets/cursor.png), auto;
}
.container {
  width: 100%;
  height: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-med {
  width: 300px;
  height: 300px;
}

.container-sm {
  width: 125px;
  height: 100px;
  cursor: url(https://raw.githubusercontent.com/nostalgic-css/NES.css/develop/assets/cursor-click.png) 14 0, pointer;
}

.align {
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nes-btn {
  cursor: url(https://raw.githubusercontent.com/nostalgic-css/NES.css/develop/assets/cursor-click.png) 14 0, pointer !important;
}

svg {
  width: 70px;
  height: 70px;
  transform: rotate(-90deg);
  position: absolute;
}

.align-bottom {
  margin-top: 65px !important;
}

img {
  width: 117px;
  height: 93px;
}
label {
  width: 116px;
  height: 92px;
  margin: 0;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: url(https://raw.githubusercontent.com/nostalgic-css/NES.css/develop/assets/cursor-click.png) 14 0, pointer !important;
}

input {
  display: none
}
.dialog{
  position: absolute !important;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  z-index: 1000;
  background: white;
}
.dialog-menu{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
} */
