.dropdown-item {
    font-weight: 600px;
    color: #000000;
}
   
.dropdown-item:hover, .dropdown-item:focus {
    background-color: #DB9E00;
    color: white;
}
   
.dropdown-menu {
    width: 100%;
    background-color: #ffffff;
    border-radius: 5px;
    border: 1px solid #C4C4C4;
}