.content-pop-up {
    background-color: white;
    width: 400px;
    height: 500px;
    margin-left: 350px;
  }
  .cancel-button {
    width: 40px;
    border: none;
    background-color: white;
    box-shadow: none;
    padding: 0px 0px 34px 0px;
    
  }
  .cancel{
    float: left;
  }
  .select{
    float: right;
    padding: 12px 240px 0px 0px;
  }
  hr {
    border: none;
    border-top: 1px double black;
    color: #333;
    overflow: visible;
    height: 5px;
  }
  .hr{
    padding: 60px 0px 0px 0px;

  }