.content-full {
  background-color: white;
  width: 900px;
  height: 600px;
  margin-left: 68px;
}
.cancel-button {
  width: 40px;
  border: none;
  background-color: white;
  box-shadow: none;
}
.code {
  float: left;
}
.total {
  float: right;
}
.total-product .date {
  font-size: 10px;
  font-weight: 100;
}
.date {
  float: left;
}
.date-total {
  float: right;
}
h2 {
  padding: 70px 0px 0px 0px;
}
