/* OrderProductCategory.css */
.category-card {
  display: inline-block;
  padding: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  background-color: #f8f9fa; /* Light background color */
  border: 1px solid #ddd; /* Border for a card-like appearance */
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle box shadow */
  transition: transform 0.3s; /* Added a transform transition for a subtle effect on hover */
  cursor: pointer;
  flex-grow: 1; /* Allow cards to grow and fill available space */
  max-width: 200px; /* Optionally, set a max-width for each card */
}

/* Add this class for the wrapper of category cards */
.category-wrapper {
  display: flex;
  justify-content: center;
}
  
  .category-card:hover {
    transform: translateY(-5px); /* Move the card slightly upward on hover */
  }
  
  .category-card.selected {
    background-color: #007bff; /* Background color for the selected category */
    color: white; /* Text color for the selected category */
  }
  
  /* Add this class for the wrapper of category cards */
  .category-wrapper {
    display: flex;
    justify-content: center;
    position: relative;
    right:30%
  }

  