/* OrderProduct.css */

.order-dashboard {
  display: contents;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px;
  position: relative;
  left:300px;
}

.category-wrapper {
  display: contents;
  flex-direction: row;
  /* Add styles if necessary */
}
