/* SearchBar.css */

.search-bar {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  position: relative;
  right: 250px;
}

.search-bar input {
  flex: 1;
  padding: 10px;
  border: 1px solid #f90;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 14px;
  outline: none;
  transition: border-color 0.3s, box-shadow 0.3s;
}

.search-bar-order {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  position: fixed;
  right: 1000px;
  bottom:600px;}

.search-bar-order input {
  flex: 1;
  padding: 10px;
  border: 1px solid #f90;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 14px;
  outline: none;
  transition: border-color 0.3s, box-shadow 0.3s;
}

.filter-category {
  position: relative;
  margin-left: 10px;
}

.filter-btn {
  background-color: #f90;
  position: relative;
  font-size: 14px;
  color: #fff;
  border: none;
  border-radius: 2px;
  box-sizing: border-box;
  cursor: pointer;
  transition: background-color 0.3s;
  bottom: 15px;
}

.filter-btn:hover {
  background-color: #e17000;
}

.dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: rgba(237, 206, 206, 0.9);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  display: none;
  z-index: 10;
  transition: opacity 0.3s ease-in-out;
}

.dropdown ul {
  list-style: none;
  padding: 0;
  margin: 0;
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-block: 5px;
  align-items: center;
}

.dropdown li {
  padding: 10px;
  cursor: pointer;
  z-index: 10;
  transition: background-color 0.3s;
}

.dropdown li:hover {
  background-color: #e17000;
}

.filter-category:hover .dropdown {
  display: block;
  opacity: 1;
}

/* Responsive styles */
@media (max-width: 768px) {
  .search-bar {
    flex-direction: column;
    align-items: stretch;
  }

  .search-bar input {
    margin-bottom: 10px;
  }
}
